{% extends "base.html" %}
{% block cssjs %}
    <script src="/js/lib/angular.min.js"></script>
    <script src="/js/lib/ng-table.js"></script>
{% endblock %}
{% block content %}
    about
    <style>
        table {
            table-layout: fixed
        }

        table td {
            word-wrap: break-word
        }
    </style>
    <div class="container" ng-app="app" ng-controller="Ctrl">
        <button class="btn btn-info" ng-click="gitpull()">Git Pull</button>
        <button class="btn btn-info" ng-click="addkey()">Add Key</button>
        <p>
            {[{ GP }]}
        </p>

        <div class="col-md-12">
            <table ng-table="tableParams" class="table">
                <tr ng-repeat="key in $data" ng-class="{true: 'info', false: 'danger'}[key.ALIVE]">
                    <td data-title="'weibo'">
                        <span ng-if="!key.$edit">{[{ key.weibo }]}</span>

                        <div ng-if="key.$edit">
                            <select class="form-control" name="weibo" ng-model="key.weibo">
                                <option value="sina">新浪微博</option>
                                <option value="tweibo">腾讯微博</option>
                            </select>
                        </div>
                    </td>
                    <td data-title="'APPKEY'">
                        <span ng-if="!key.$edit">{[{ key.APPKEY }]}</span>

                        <div ng-if="key.$edit"><input class="form-control" type="text" ng-model="key.APPKEY"/></div>
                    </td>
                    <td data-title="'APPSECRET'">
                        <span ng-if="!key.$edit">{[{ key.APPSECRET }]}</span>

                        <div ng-if="key.$edit"><input class="form-control" type="text" ng-model="key.APPSECRET"/></div>
                    </td>
                    <td data-title="'CALLBACKURL'">
                        <span ng-if="!key.$edit">{[{ key.CALLBACKURL }]}</span>

                        <div ng-if="key.$edit"><input class="form-control" type="text" ng-model="key.CALLBACKURL"/>
                        </div>
                    </td>
                    <td data-title="'ACCESSTOKEN'">
                        <span ng-if="!key.$edit">{[{ key.ACCESSTOKEN }]}</span>

                        <div ng-if="key.$edit"><input class="form-control" type="text" ng-model="key.ACCESSTOKEN"/>
                        </div>
                    </td>
                    <td data-title="'OPENID'">
                        <span ng-if="!key.$edit">{[{ key.OPENID }]}</span>

                        <div ng-if="key.$edit"><input class="form-control" type="text" ng-model="key.OPENID"/></div>
                    </td>
                    <td data-title="'OPENKEY'">
                        <span ng-if="!key.$edit">{[{ key.OPENKEY }]}</span>

                        <div ng-if="key.$edit"><input class="form-control" type="text" ng-model="key.OPENKEY"/></div>
                    </td>
                    <td data-title="'Actions'">
                        <a ng-if="!key.$edit" href="" class="btn btn-default btn-xs"
                           ng-click="key.$edit = true">Edit</a>
                        <a ng-if="!key.$edit" href="" class="btn btn-danger btn-xs"
                           ng-click="delkey(key.k)">Delete</a>
                        <a ng-if="key.$edit" href="" class="btn btn-primary btn-xs"
                           ng-click="key.$edit = false;savekey(key)">Save</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script>
        var app = angular.module('app', ['ngTable']);
        app.config(function ($interpolateProvider) {
            $interpolateProvider.startSymbol('{[{');
            $interpolateProvider.endSymbol('}]}');
        });
        app.controller('Ctrl', function ($scope, $http, ngTableParams) {
            $scope.GP = '';
            $scope.gitpull = function () {
                $http({
                    url: "/api/gitpull",
                    method: 'GET'
                }).success(function (data) {
                    $scope.GP = data
                })
            };
            $scope.appkeys = function () {
                $scope.keys = [];
                $http({
                    url: "/api/appkeys",
                    method: 'GET'
                }).success(function (data) {
                    for (k in data) {
                        $scope.keys[k] = {};
                        $scope.keys[k]['weibo'] = data[k][0];
                        $scope.keys[k]['APPKEY'] = data[k][1];
                        $scope.keys[k]['APPSECRET'] = data[k][2];
                        $scope.keys[k]['CALLBACKURL'] = data[k][3];
                        $scope.keys[k]['ACCESSTOKEN'] = data[k][4];
                        $scope.keys[k]['OPENID'] = data[k][5];
                        $scope.keys[k]['OPENKEY'] = data[k][6];
                        $scope.keys[k]['ALIVE'] = data[k][7];
                        $scope.keys[k]['k'] = k;
                    }
                    $scope.tableParams = new ngTableParams({
                        page: 1,            // show first page
                        count: 10           // count per page
                    }, {
                        total: $scope.keys.length, // length of data
                        getData: function ($defer, params) {
                            $defer.resolve($scope.keys.slice((params.page() - 1) * params.count(), params.page() * params.count()));
                        }
                    });
                })

            };
            $scope.appkeys();
            $scope.addkey = function () {
                $scope.keys[$scope.keys.length ] = {'weibo': 'sina', 'APPKEY': '', 'APPSECRET': '', 'CALLBACKURL': '', 'ACCESSTOKEN': '', 'OPENID': '', 'OPENKEY': '', 'k': $scope.keys.length};
                $scope.tableParams.reload()
            };
            $scope.savekey = function (target) {
                $http({
                    url: "/api/key",
                    method: 'GET',
                    params: target
                })
            };
            $scope.delkey = function (target) {
                var appkey = $scope.keys[target]['APPKEY'];
                $scope.keys.splice(target, 1);
                for (i in $scope.keys) {
                    $scope.keys[i]['k'] = i;
                }

                $http({url: '/api/delkey', method: 'GET', params: {'appkey': appkey}});
                $scope.tableParams.reload()
            }

        });
    </script>
{% endblock %}