{% extends "base.html" %}


{% block cssjs %}
    <script src="/js/lib/angular.min.js"></script>
{% endblock %}
{% block content %}
    <h1>{{ Wcompany }}</h1>
    <p>{{ ERROR }}</p>
    <div ng-app="app" ng-controller="Ctrl">
        <form class="col-xs-10 col-xs-offset-2 form-inline" role="form">
            <div class="form-group">
                <input type="text" ng-model="t" class="form-control "disabled placeholder="腾讯微博条数">
                <button class="btn btn-success disabled" id="tooltip" ng-click="tweibo()" data-toggle="tooltip"
                        data-placement="top" title="腾讯微博api待恢复">腾讯微博
                </button>
                <input type="text" ng-model="s" class=" form-control " placeholder="新浪微博条数">
                <button class="btn btn-danger  " ng-click="sina()">新浪微博</button>
            </div>
        </form>
        <br/>

        <div class="table-responsive col-xs-12">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <td style="text-align: center;width: 100px">用户名</td>
                    <td style="text-align: center">微博内容</td>
                    <td style="text-align: center;width: 100px">感情色彩</td>
                </tr>
                </thead>
                <tbody>
                {#                {% for u in user %}#}
                <tr ng-repeat="u in data">
                    {[{ u }]}
                    <td style="vertical-align:middle;text-align: center;">
                        <a href="{[{ wname }]}{[{ u.link }]}" target="_blank">{[{ u.nick }]}</a>
                    </td>
                    <td>{[{ u.text }]}</td>
                    {#                    <td style="vertical-align:middle;text-align: center">{{ u.emotiontype }}</td>#}
                    <td style="vertical-align:middle;text-align: center">NULL</td>
                </tr>
                {#                {% endfor %}#}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $('#tooltip').tooltip('show');
        var app = angular.module('app', []);
        app.config(function ($interpolateProvider) {
            $interpolateProvider.startSymbol('{[{');
            $interpolateProvider.endSymbol('}]}');
        });
        app.controller('Ctrl', function ($scope, $http) {
            $scope.tweibo = function () {
                $scope.wname = 'http://t.qq.com/';
                $http({
                    url: "/api/tpl",
                    method: 'GET',
                    params: {'q': $scope.t}
                }).success(function (data) {
                    $scope.data = data['user'];
                    if(!$scope.data){
                        window.location.href='/about/'
                    }
                })
            };
            $scope.sina = function () {
                $scope.wname = 'http://weibo.com/u/';
                $http({
                    url: "/api/spl",
                    method: 'GET',
                    params: {'q': $scope.s}
                }).success(function (data) {
                     $scope.data= data['user'];
                    if(!$scope.data){
                        window.location.href='/about/'
                    }
                })
            };

        });
        {#        document.getElementById('crontab').checked#}
    </script>
{% endblock %}

