{% extends "base.html" %}
{% block cssjs %}
    <style>
        div.switch-wrapper {
            display: block;
            overflow: hidden;
            width: 90px;
            background: transparent;
            border: 2px solid #999999;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

        div.switch-wrapper > input.switch-input {
            display: none;
        }

        div.switch-wrapper > label.switch-label {
            position: relative;
            display: block;
            text-align: left;
            padding-left: 20px;
            cursor: pointer;
            background: #EEE;
            color: #999;
            width: 100%;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            /*transition*/
            -webkit-transition: left 0.3s ease-in 0s;
            -moz-transition: left 0.3s ease-in 0s;
            -o-transition: left 0.3s ease-in 0s;
            transition: left 0.3s ease-in 0s;
            margin-bottom: 0 !important;
        }

        div.switch-wrapper > label.switch-label:after {
            position: absolute;
            display: block;
            text-align: right;
            padding-right: 20px;
            width: 100%;
            height: 100%;
            left: 100%;
            top: 0;
            background: #2FCCFF;
            color: #fff;
            content: "ON \2611";
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        div.switch-wrapper > input.switch-input:checked + label.switch-label {
            left: -100%;
        }

    </style>
    <script src="/js/lib/angular.min.js"></script>
    {#    <script src="/js/app.js"></script>#}
{% endblock %}
{% block title %}The current time{% endblock %}

{% block content %}
    <div class="container" ng-app="app" ng-controller="Ctrl">
        <div class="col-sm-5 col-sm-offset-3">
            <div style="float: left">
                <button class="btn btn-default" ng-click="server()">Check Server Status</button>
            </div>
        </div>
        <br/>
        <br/>

        <div class="col-sm-5 col-sm-offset-3">
            <div style="float: left"><a href=""
                                        onclick="window.location.assign('//'+window.location.hostname+':50070')">Hadoop</a>
            </div>
            <div style="float: right">
                <div class="switch-wrapper">
                    <input type="checkbox" id="hadoop" class="switch-input" ng-click="Switch('hadoop')"/>
                    <label class="switch-label" for="hadoop">&#9746; OFF</label>
                </div>
            </div>
        </div>
        <br/>
        <br/>

        <div class="col-sm-5 col-sm-offset-3">
            <div style="float: left"><a href=""
                                        onclick="window.location.assign('//'+window.location.hostname+':60010')">HBase</a>
            </div>
            <div style="float: right">
                <div class="switch-wrapper">
                    <input type="checkbox" id="hbase" class="switch-input" ng-click="Switch('hbase')"/>
                    <label class="switch-label" for="hbase">&#9746; OFF</label>
                </div>
            </div>
        </div>
        <br/>
        <br/>

        <div class="col-sm-5 col-sm-offset-3">
            <div style="float: left">HBase Thrift</div>
            <div style="float: right">
                <div class="switch-wrapper">
                    <input type="checkbox" id="hbasethrift" class="switch-input" ng-click="Switch('hbasethrift')"/>
                    <label class="switch-label" for="hbasethrift">&#9746; OFF</label>
                </div>
            </div>
        </div>
        <br/>
        <br/>

        <div class="col-sm-5 col-sm-offset-3">
            <div style="float: left">定时抓取器</div>
            <div style="float: right">
                <div class="switch-wrapper">
                    <input type="checkbox" id="crontab" class="switch-input" ng-click="Switch('crontab')"/>
                    <label class="switch-label" for="crontab">&#9746; OFF</label>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = angular.module('app', []);
        app.controller('Ctrl', function ($scope, $http) {
            $scope.Switch = function (target) {
                $http({
                    url: "/api/" + target,
                    method: 'GET',
                    params: {'q': document.getElementById(target).checked}
                }).success(function (data) {
                    if (data == 'True') {
                        document.getElementById(target).checked = true
                    } else {
                        document.getElementById(target).checked = false
                    }
                })
            };
            $scope.server = function () {
                $http({
                    url: "/api/server",
                    method: 'GET'
                }).success(function (data) {
                    for (i in data) {
                        {#                    console.log(i);#}
                        document.getElementById(i).checked = data[i];
                    }

                })
            };
            $scope.server()
        });
        {#        document.getElementById('crontab').checked#}
    </script>
{% endblock %}
